*,
*:after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  overflow: auto;
}

.app-container {
  /* height: auto; */
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

/* setup the video */

.home-form-container {
  z-index: 10;
  position: relative;
  display: flex;
}

.fullscreen-video-wrap {
  height: 100%;
  width: 100%;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  flex: 1;
}

.background {
  min-width: 100%;
  min-height: 100%;
}
/* home form style */

.flex-form > *:not([type="date"]) {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.flex-form .searchInput {
  background: #ff5a5f;
  border-top: 1px solid #ff5a5f;
  border-bottom: 1px solid #ff5a5f;
  color: white;
}

.flex-form > * {
  border: 0;
  padding: 10px;
  background: white;
  line-height: 50px;
  font-size: 20px;
  border-radius: 0;
  outline: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-appearance: none;
}

.home-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.flex-form {
  z-index: 10;
  border: 20px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: flex;
}

.flex-form .home-search {
  min-width: 500px;
}

/* google button  */

.google-button-container {
  z-index: 11;
  top: 0;
  position: absolute;
  padding: 15px;
  right: 0;
}

.ui.red.button {
  font-size: 1.6rem;
}

/* navbar styles */
li {
  font-weight: 700;
  font-size: 1.5rem;
  color: #edf0f1;
  list-style: none;
  display: inline-block;
  padding: 0px 15px;
}

.not-logged-my-book-list {
  cursor: not-allowed;
}
.not-logged-my-book-list:hover {
  color: grey;
}

.navigation-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 1%;
  min-height: 125px;
  max-height: 125px;
  background-color: #24252a;
}

.navigation-form-container {
  display: flex;
  border-radius: 10rem;
  font-size: 1.5rem;
}

.navigation-form-container input[type="text"] {
  padding-left: 10px;
  min-width: 350px;
}

.navigation-form-container input[type="text"],
input[type="submit"] {
  cursor: pointer;
}

.navigation-form-container input[type="submit"] {
  transition: all 0.3s ease 0s;
  padding: 9px 15px;
}

/* li animation */

li {
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

li:hover {
  transition: all 0.3s ease 0s;
  color: #0088a9;
}

/* user panel button form transform */

.navigation-form-container input[type="submit"]:hover {
  background-color: rgb(167, 20, 20);
}

/* book list styles */

/* style form google button for user panel */

.navigation-bar-container .google-button-container {
  position: static;
}
